@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to bank system</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="/Content/font-awesome.css" rel="stylesheet" />
    <script src="/scripts/jquery-1.9.1.js"></script>
    <script src="/scripts/bootstrap.js"></script>
</head>
<body>
    <form id="form1">
        <div class="container welcome-block">
            <h2>
               Bank of Baroda
            </h2>
            <h4>Online Banking</h4>
            <a href="/Home/Login" class="btnlogin">Login with own account<i class="icon icon-chevron-sign-right"></i></a>
            <a href="/Home/Register" class="btnlogin">Register with us<i class="icon icon-chevron-sign-right"></i></a>
        </div>
    </form>
</body>
</html>
